@import "../weather/weather.scss";
@import "../mouse/mouse.scss";
@import "../headset/headset.scss";

.clock {
    margin-bottom: -10px;
}

.time {
    font-size: 4rem;
}

.date-widget {
    margin-right: 10px;
    margin-bottom: -5px;
}

.dow, .dom {
    font-size: 1rem;
}
