[user]
	name = Trevor Sargent
	email = trevor.a.sargent@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[pull]
	ff = only
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
