* {
    all: unset;
    font-family: JetBrainsMono;
    font-weight: bold;
    font-size: .8rem;
}

@mixin window {
    background-color: $surface;
    color: $onSurface;
    border-radius: 5px;
}

.group {
    // background-color: rgba(255, 255, 255, .05);
    padding:  .25rem;
    border-radius: 5px;
}

.caption {
    font-size: .7rem;
}

$darkBg: rgb(15, 15, 15);
$lightBg: rgb(40, 40, 40);


// @import "modules/bar/bar.scss";
// @import "modules/dock/dock.scss";
@import "modules/workspaces/workspaces.scss";

@import "modules/sleep/sleep.scss";

// @import "scss/bar.scss";
// @import "scss/powermenu.scss";
// @import "scss/launcher.scss";

// @import "scss/control_center.scss";
// @import "scss/notifications_popup.scss";

// @import "scss/language.scss";
// @import "scss/taskbar.scss";
// @import "scss/clock.scss";
// @import "scss/logo.scss";
// @import "scss/quick_settings.scss";
// @import "scss/user.scss";
// @import "scss/volume.scss";
// @import "scss/workspaces.scss";
// @import "scss/tray.scss";
// @import "scss/weather.scss";
// @import "scss/indicator.scss";
// @import "scss/notifications.scss";
// @import "scss/recorder_menu.scss";
// @import "scss/picker.scss";

@import "modules/dock/dock.scss";