.disk-bar {
    background-color: rgba($color: #ffffff, $alpha: .1);
    border-radius: 5px;
}

.disk-bar-used {
    border-radius: 5px;
    background-color: rgba($color: #ffffff, $alpha: .1);
}

.disk-info {
    margin-right: 4px;
}

