/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 *  
 * by Trevor Sargent (2025) 
 * ----------------------------------------------------- 
*/


/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: monospace;
    border: none;
}



window#waybar {
    background: rgba(0,0,0, 0.1);
    /* color: #FFFFFF; */
    transition-duration: .5s;
    border-top: 1px solid rgba(255, 255, 255, .1);
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
    font-weight: bold;
    padding: 4px;
}

#workspaces button {
    padding: 0px 2px;
    border: 0px;
    transition: all 0.3s;
    color: rgba(255, 255, 255, .1);
}

#workspaces button.active {
    color: rgba(255, 255, 255, .5);
    min-width: 20px;
    transition: all 0.3s;
}

#workspaces button:hover {
    color: rgba(255, 255, 255, .5);
}

#custom-spacer {
    margin: 8px;
    font-size: 0;
    border-right: solid 1px rgba(255, 255, 255, .5);
}


/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

 #disk,#memory,#cpu,#language {
    color:rgba(255, 255, 255, .5);
}




/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    color: rgba(255, 255, 255, .5);
}

#pulseaudio.muted {
    color: rgba(255, 255, 255, .2);
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    color: black;
}

#network.ethernet {
    color: black;
}

#network.wifi {
    color: black;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */
 #bluetooth, #bluetooth.on, #bluetooth.connected {
    color: black;
}

#bluetooth.off {
    padding: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    color: black;
}

#battery.charging, #battery.plugged {
    color: black;
}

@keyframes blink {
    to {

        color: black;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
	margin-left: 10px;

}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}



#clock {
    color: rgba(255, 255, 255, .5);
    margin-right: 10px;
}
