.music-image {
    border: 1px solid rgba(255, 255, 255, .1);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, .05);
    border-radius: 8px;
}

.music-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.music-artist {
    opacity: .5;
    font-size: 1rem;
}

.music-times {
    font-size: 2rem;
    opacity: .5;
}

.dock-widget {
    padding: 10px;
}

.music-info {
    min-width: 150px;
    
}

.mus-progress {
    background-color: white;
    opacity: .5;
}

.music-progress-container{
    background-color: $lightBg;
    margin: 10px 0;
}

