.music-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    border-radius: 5px;
}

.music-info {
    margin-right: 4px;
    padding-right: .5rem;
    padding-left: .5rem;
}

.times {
    background-color: rgba($color: #000000, $alpha: .7);
    padding: .2rem;
    border-radius: 5px;
}

.music-artist {
    opacity: .5;
    font-size: .7rem;
}